.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100%;
    height: 100px;
}

.light_blue {
    background-color: rgb(63, 192, 235);
}
.dark_blue {
    background-color: darkblue;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
.orange {
    background-color: orange;
}

@media screen and (min-width: 450px) {
    .light_blue, .green {
        width: 50%;
    }
}

@media screen and (min-width: 550px) {
    .dark_blue, .light_blue {
        width: 50%;
    }
    .green, .red, .orange {
        width: 33.333333%;
    }
}

@media screen and (min-width: 700px) {
    .container {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}