*, *:before, *:after {
  box-sizing: border-box;
}
html, input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
}
body{
  margin: 0;
}
.container {
  padding: 1rem;
  margin: 0 auto;
  max-width: 800px;
}
form {
  display: flex;
  flex-wrap: wrap;
}
fieldset {
  background-color: #f5f5f5;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding-block-end: 1.2em;
  margin-block-end: 1.2em;
}
legend {
  font-size: 1.4rem;
  color: #666;
}
.field-wrapper {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-end; */
}
label, input, button {
  display: block;
}
label {
  font-variant: small-caps;
  font-size: 0.875rem;
  font-weight: bold;
  color: #666;
  max-width: 100%;
  margin-bottom: 5px;
  margin-right: 16px;
  margin-top: 2px;
  text-align: right;
  letter-spacing: 1px;
}
.form-element {
  display: block;
  width: 100%;
  padding: 8px 14px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  margin-bottom: 16px;
}
::placeholder {
  color: #aaa;
}
.right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
button {
  font-size: 1em;
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #aaaaaa;
  color: #333;
  font-variant: all-small-caps;
}
button:hover {
  background-color: #e5e5e5;
}
button:active {
  background-color: #ccc;
}

@media screen and (min-width: 500px) {
  form {
    padding-right: 15px;
    padding-left: 15px;
  }
  fieldset {
    padding-inline-end: 1.2em;
  }
  label {
    flex-basis: 21%;
  }
  .form-element {
    flex-basis: 74%;
    flex-grow: 1;
  }
}